The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [1]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [4]:
labels = ['a','b',101]
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

** Using Lists**

In [5]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_list,index=labels)

a      10
b      20
101    30
dtype: int64

In [5]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

** Dictionary**

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [11]:
import pandas as pd

In [12]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [13]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [15]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [16]:
ser1['USA']

1

Operations are then also done based off of index:

In [36]:
 ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [18]:
ser3

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [19]:
ser3.isna()

Germany    False
Italy       True
Japan      False
USA        False
USSR        True
dtype: bool

In [20]:
ser3.isna().sum()

2

In [21]:
ser3.fillna(3)

Germany    4.0
Italy      3.0
Japan      8.0
USA        2.0
USSR       3.0
dtype: float64

In [22]:
ser3.mean()

4.666666666666667

In [23]:
ser3.median()

4.0

In [24]:
ser3.std()

3.055050463303893

In [25]:
ser3.var()

9.333333333333332

In [26]:
ser3.count()

3

In [27]:
ser3.max()

8.0

In [28]:
ser3.min()

2.0

In [37]:
ser3

Germany    4.0
Japan      8.0
USA        2.0
dtype: float64

In [29]:
ser3.values.argmax()

1

In [30]:
ser3.values

array([ 4., nan,  8.,  2., nan])

In [31]:
ser3.index

Index(['Germany', 'Italy', 'Japan', 'USA', 'USSR'], dtype='object')

In [32]:
ser3.values.argmin()

1

In [33]:
ser3.dropna(inplace = True)

In [34]:
ser3

Germany    4.0
Japan      8.0
USA        2.0
dtype: float64

In [35]:
ser3.fillna(3)

Germany    4.0
Japan      8.0
USA        2.0
dtype: float64

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series!
# Great Job!