In [12]:
import pandas as pd
import numpy as np

In [13]:
#np.random.rand(5)

In [14]:
from numpy.random import randn
np.random.seed(101)

In [15]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [16]:
df = pd.DataFrame(randn(5,4),index=['A', 'B' ,'C','D','E'],columns=['W','X','Y','Z'])

In [17]:
a = "A B C D E"

In [18]:
a.split()

['A', 'B', 'C', 'D', 'E']

In [19]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [20]:
df.rename_axis(["a"],axis = 0)

          W         X         Y         Z
a
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [21]:
df.rename(columns={"W":"e"})

          e         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [22]:
df.rename({"A": 2, "B": 4}, axis='index')

          W         X         Y         Z
2  0.302665  1.693723 -1.706086 -1.159119
4 -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [23]:
df.rename( index = {"A": 2, "B": 4},inplace = True)

In [24]:
df

          W         X         Y         Z
2  0.302665  1.693723 -1.706086 -1.159119
4 -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [25]:
df['W']

2    0.302665
4   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [26]:
# Pass a list of column names
df[['W','Z']]

          W         Z
2  0.302665 -1.159119
4 -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

DataFrame Columns are just Series

In [27]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [28]:
df['new'] = df['W'] + df['Y']

In [29]:
df

          W         X         Y         Z       new
2  0.302665  1.693723 -1.706086 -1.159119 -1.403420
4 -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

** Removing Columns**

In [30]:
df.drop('new',axis=1)

          W         X         Y         Z
2  0.302665  1.693723 -1.706086 -1.159119
4 -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [31]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
2  0.302665  1.693723 -1.706086 -1.159119 -1.403420
4 -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [32]:
df.drop('new',axis=1,inplace=True)

In [33]:
df

          W         X         Y         Z
2  0.302665  1.693723 -1.706086 -1.159119
4 -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

Can also drop rows this way:

In [34]:
df.drop('E',axis=0)

          W         X         Y         Z
2  0.302665  1.693723 -1.706086 -1.159119
4 -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

#loc gets rows (or columns) with particular labels from the index. iloc gets rows (or columns) at particular positions in the index (so it only takes integers)

** Selecting Rows**

In [35]:
df.loc['A']

KeyError: 'A'

In [41]:
import pandas as pd

In [42]:
df1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
      columns=['max_speed', 'shield'])

In [43]:
df1

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [57]:
df1.iloc[0:2]

       max_speed  shield
cobra          1       2
viper          4       5

In [52]:
df1.loc["cobra":"sidewinder","max_speed"]

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [44]:
df1.loc["viper"]

max_speed    4
shield       5
Name: viper, dtype: int64

In [39]:
df1['max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [45]:
df1.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [46]:
df1.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [47]:
df1.loc['cobra', 'shield']

2

In [48]:
df1.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [49]:
df1.loc['cobra':'sidewinder','shield']

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

Or select based off of position instead of label

In [ ]:
df.iloc[2]

In [ ]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]

In [ ]:
df2 = pd.DataFrame(mydict)
df2

In [ ]:
type(df2.iloc[0])

In [ ]:
 df2.iloc[0]

In [ ]:
#With a list of integers.

df2.iloc[[0]]

In [ ]:
df2.iloc[[0, 1]]

In [ ]:
df2.iloc[[0, 1]]

In [ ]:
df2.iloc[[0, 2], [1, 3]]

In [ ]:
df2.iloc[1:3, 0:3]

** Selecting subset of rows and columns **

In [ ]:
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['W','Y']]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df>0

In [ ]:
df[df>0]

In [ ]:
df[df['W']>0]

In [ ]:
df[df['W']>0]['Y']

In [ ]:
df[df['W']>0][['Y','X']]

For two conditions you can use | and & with parenthesis:

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df

In [ ]:
# Reset to default 0,1...n index
df.reset_index()

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names = ['Group','Num']

In [ ]:
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1',1])

In [ ]:
df.xs(1,level='Num')

# Great Job!